<header class="header">
  <nav class="nav">
    <div class="nav__logo">
     <div class="circle"></div>
    </div>
    <div class="nav__links">
      <div class="nav__links_link"><a routerLink="/Main"><span>#</span>Main</a></div>
      <div class="nav__links_link"><a routerLink="/Tasks"><span>#</span>Tasks</a></div>
      <div class="nav__links_link"><a routerLink="/Statistics"><span>#</span>Statistics</a></div>
      <div class="nav__links_link"><a routerLink="/Profile"><span>#</span>Profile</a></div>
      <div class="nav__links_link"><a routerLink="/Login"><span>#</span>Login</a></div>
      <div class="nav__links_link"><a routerLink="/Register"><span>#</span>Register</a></div>
    </div>
    <div class="menu-wrap">
      <input type="checkbox" class="toggler">
      <div class="hamburger"><div></div></div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

</header>
