
<div class="wrapper">
  <video playsinline loop muted autoplay
         src="./assets/wave.mp4">
  </video>
  <div class="video__title">
    Let's deep dive
  </div>
  <div class="dive-deep-screen__heading">
    Increase your performance
  </div>
  <div class="dive-deep-screen">
    <div>
      <app-circle-chart></app-circle-chart>
    </div>
    <div class="dive-deep-screen__heading">
      look  from a different angle
    </div>
    <div>
      <app-line-chart></app-line-chart>
    </div>
  </div>
</div>
